.gradient-background {
  background: linear-gradient(300deg, #ff6a00, #00eaff, #0008ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.img2{
  margin-top: 10;
  height: 550px;
  float: left
}
.img3{
  
  width: 300px;
  height: 200px;
}
.profile-img{
  height: 100px;
  border-radius: 50%;
}
.circle{
  text-align: center;
  justify-content: center;
  margin-top: 10;
}
